@media screen and (max-width: 1600px) {
    .mainContainer *{
        position: relative;
        /* width: auto; */
        /* display: flex; */
        /* color: red; */
    }

    .leftContainer{
        float: left;
        width: 48%;
    }

    .rightContainer{
        float: right;
        width: 48%;
    }

    .itemDisplay{
        display: flex;
        flex-wrap: wrap;
    }

    .card{
        flex-basis: auto;
        margin-right: 1em;
    }

}

@media screen and (max-width: 700px) {
    .leftContainer{
        float: none;
        width: auto;
    }

    .rightContainer{
        float: none;
        width: auto;
    }

    .itemDisplay{
        display: inline-block;
    }
}
